---
import Layout from '@/layouts/Layout.astro'
import BodyIndex from '@/components/BodyIndex.astro'
---

<Layout>
  <div>
    desde nosotros
  </div>
  		<!-- //!: body=================================== -->
      <div class='bordeVerde m-2 p-2 rounded-lg flex flex-1'>
        <BodyIndex />
      </div>
      <!-- //!: body=================================== -->
</Layout>