---
import Layout from '@/layouts/Layout.astro'
import { SliderReact } from '@/components/SliderReact.jsx'
---

<Layout title='Sobre nosotros'>
	<!--  -->
	<!--  -->
	<!-- //!: body=================================== -->
	<div
		class='bodyIndex bordeRojo m-2 p-2 rounded-lg flex justify-center items-center flex-col flex-1'
	>
		<div class='m-2 w-full'>
			<!-- <SliderReact client:load /> -->
		</div>
	</div>
	<!-- //!: body=================================== -->
	<!--  -->
	<!--  -->
</Layout>

<style>
	:global(.light) .bodyIndex {
		background-color: #f5f5f5;
		color: black;
	}
</style>
