---
import Icon from '@/components/icons/LogoAuxCompleto.astro'
import IconHome from '@/components/icons/IconHome.astro'
import IconNosotros from '@/components/icons/IconNosotros.astro'
import IconServices from '@/components/icons/IconServices.astro'
import IconContact from '@/components/icons/IconContact.astro'
import IconCatalogo from '@/components/icons/IconCatalogo.astro'
import BtnAdelante from '@/components/botones-sliders/BtnAdelante.astro'

interface MenuItem {
	link: string
	icon: string
	title: string
}

interface Props {
	menu?: MenuItem[]
}

const { menu } = Astro.props
---

{
	menu &&
		menu.map((item: MenuItem) => (
			<div class='bordeRojo rounded-lg h-[66px] flex justify-center items-center my-2'>
				<a
					href={item.link}
					class='flex flex-col flex-1 justify-center items-center'
				>
					<div class='flex flex-row text-xl p-4 justify-center items-center'>
						<BtnAdelante menus={item.title} />
					</div>
				</a>

				<div class='w-10 mr-4'>
					{item.icon === 'us' && <IconNosotros />}
					{item.icon === 'home' && <IconHome />}
					{item.icon === 'services' && <IconServices />}
					{item.icon === 'contact' && <IconContact />}
					{item.icon === 'catalogo' && <IconCatalogo />}
				</div>
			</div>
		))
}
