---
import Icon from '@/components/icons/LogoAuxCompleto.astro'

interface MenuItem {
	link: string
	icon: string
	title: string
}

interface Props {
	menu?: MenuItem[]
}

const { menu } = Astro.props
---

{
	menu &&
		menu.map((item: MenuItem) => (
			<div class='bordeRojo rounded-lg h-[66px] flex justify-center items-center my-4'>
				<a
					href={item.link}
					class='flex flex-col justify-center items-center'
				>
					<div class='flex flex-row justify-center items-center'>
						<span class='text-xl p-4'>{item.title}</span>
						<div class='w-24'>
							<img
								src={item.icon}
								class=''
							/>
						</div>
					</div>
				</a>
			</div>
		))
}
