---
import Layout from '@/layouts/Layout.astro'
import SeccionContactos from '@/components/secciones/SeccionContactos.astro'
---

<Layout title='Contactos de la Auxiliar'>
	<div
		class='bordeRojo rounded-lg m-auto w-full flex flex-1 h-full justify-center items-center p-2'
	>
		<SeccionContactos />
	</div>
</Layout>
