---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Auxiliar Manipuladora del Cartón'>
	<div
		class='divBody colorDos bordeRojo rounded-lg h-full bg-zinc-900 flex flex-col'
	>
		<div>
			<video
				class='w-full object-fill rounded-lg'
				src='/videos/cajas-en-movimiento.mp4'
				autoplay
				loop
				muted
			></video>
		</div>
	</div>
</Layout>

<style>
	:global(.light) .divBody {
		background-color: #f0f0f0;
	}
</style>
