---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Auxiliar Manipuladora del Cartón'>
	<div
		class='divBody colorDos bordeRojo rounded-lg h-full bg-zinc-900 flex flex-col'
	>
		<button onclick={() => console.log('holaaa')}>
			<video
				id=' miVideo'
				class='w-full
				object-fill rounded-lg'
				autoplay
				loop
				muted
				><source src='/videos/cajas-en-movimiento.mp4' /></video
			>
		</button>
	</div>
	<script>
		function david() {
			const video = document.getElementById('miVideo') as HTMLVideoElement
			video.autoplay = false
			console.log('dav')
		}
	</script>
	<style>
		:global(.light) .divBody {
			background-color: #f0f0f0;
		}
	</style>
</Layout>

<!-- controls='true' -->
