---
import Layout from '../layouts/Layout.astro'
import Video from '@/components/Video.astro'
---

<Layout title='Auxiliar Manipuladora del Cartón'>
	<div
		class='divBody colorDos bordeRojo rounded-lg h-full bg-zinc-900 flex flex-col'
	>
		<Video
			autoplay={true}
			id='cajas'
			src='/videos/cajas-en-movimiento.mp4'
		/>
	</div>

	<style>
		:global(.light) .divBody {
			background-color: #f0f0f0;
		}
	</style>
</Layout>
