---
import ToggleTheme from '@/components/ToggleTheme.astro'
---

<div class='divToggleTheme flex flex-row rounded-lg'>
	<div class='divSinNombre flex flex-1 justify-center items-center'>
		desde el header
	</div>
	<div class='pr-4'>
		<ToggleTheme />
	</div>
</div>

<style>
	:global(.light) .divToggleTheme {
		background-color: #fff;
	}
	.divSinNombre {
		/* <!-- //! OJO!!! el ErasITC no funciona como string --> */
		font-family: ErasITC;
		font-size: 3rem;
	}
</style>
