---
import Logo from '@/components/icons/LogoAuxCompleto.astro'
import BodyAsideMenu from '@/components/BodyAsideMenu.astro'
import CardAside from './cards/CardAside.astro'

const menu = [
	{
		title: 'Inicio',
		icon: '/svg/iconos-de-menu/Home.svg',
		link: '/',
	},
	{
		title: 'Nosotros',
		icon: '/svg/iconos-de-menu/Cog.svg',
		link: '/nosotros',
	},
	{
		title: 'Servicios',
		icon: '/svg/iconos-de-menu/Phone.svg',
		link: '/servicios',
	},
	{
		title: 'Contacto',
		icon: '/svg/iconos-de-menu/Users.svg',
		link: '/contacto',
	},
]
---

<div class='asideMenu bordeRojo rounded-lg bg-zinc-900 h-full flex flex-col'>
	<div class='p-4'>
		<Logo />
	</div>
	<div class='bordeVerde m-2 p-2 flex flex-1 rounded-lg flex-col'>
		<div>
			<BodyAsideMenu />
		</div>
		<div class='p-2'>
			<CardAside menu={menu} />
		</div>
	</div>
</div>

<style>
	:global(.light) .asideMenu {
		background-color: #f0f0f0;
	}
</style>
