---
import ToggleTheme from '@/components/ToggleTheme.astro'
---

<div class='divToggleTheme flex flex-row rounded-lg'>
	<div>
		desde el header
		<ToggleTheme />
	</div>
</div>

<style>
	:global(.light) .divToggleTheme {
		background-color: #fff;
	}
</style>
