.mena {
  /* display: inline-block; */
  display: flex;
  border: solid 1px #ffffff;
  flex: space-between;
  flex-direction: row;
  flex: nowrap;
  flex: 1 1 0%;
  color: #ffffff;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
  width: max-content;
  height: 66px;
  background: #252525;
  box-shadow:
    15px 15px 30px #000000,
    -15px -15px 30px #000000;
}


.mena:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
  transition: 0.5s;
}

.mena:hover:after {
  right: 0;
  opacity: 1;
}


.mena:hover {
  transition: all 0.3s ease-in-out;
  transform: translateY(-3px);
  filter: brightness(1.05);
  box-shadow:
    3px 3px 5px #000000,
    -3px -15px 5px #000000;
  padding-right: 25px;

}

:global(.light) .mena {
  border: solid 1px #ffffff;

  background: #e0e0e0;
  box-shadow:
    15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
  color: #202020;

}

:global(.light) .mena:hover {
  transition: all 0.3s ease-in-out;
  transform: translateY(-3px);
  filter: brightness(1.05);
  box-shadow:
    3px 3px 5px #bebebe,
    -3px -3px 5px #ffffff;
}