---
import Layout from '@/layouts/Layout.astro'
import SeccionVideos from '@/components/secciones/SeccionVideos.astro'
---

<Layout title='Servicios de la Auxiliar'>
	<div class='bordeVerde flex flex-col justify-center items-center'>
		<SeccionVideos />
	</div>
</Layout>
